<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1014" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1027" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1508" Action="Warning" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA2217" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="Async001" Action="Warning" />
    <Rule Id="Async002" Action="Warning" />
    <Rule Id="Async003" Action="Warning" />
    <Rule Id="Async004" Action="Warning" />
    <Rule Id="Async006" Action="Warning" />
    <Rule Id="CA1003" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA5358" Action="Warning" />
  </Rules>
</RuleSet>